header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header h1{
    flex-grow: 1;
}

#dark-light {
    all: unset;
    width: 10%;
    text-align: center;
}

header button {
    width: 10%;
    background-color: black;
    color: white;
}

footer {
    padding: 10px;
    border-top: var(--doubleBorder); 
    width: 100%;
}

footer h3 {
    text-align: center;
}

.blogCard{
    margin: 10px;
    border: solid;
    padding: 5px;
}

.blogTitle {
    border-bottom: solid;
}

.blogAuthor {
    opacity: 50%;
}

.blogContent {
    height: 10vh;
    margin-left: 20px;
    margin-top: 10px;
    overflow-y: auto;
}