header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header h1{
    flex-grow: 1;
}

#dark-light {
    all: unset;
    width: 10%;
    text-align: center;
}

header button {
    width: 10%;
    background-color: black;
    color: white;
}

footer {
    padding: 10px;
    position: absolute;
    bottom: 0px;
    border-top: var(--doubleBorder); 
    width: 100%;
}

footer h3 {
    text-align: center;
}